@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}

@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
}

@layer utilities {
  @import "utilities";
}

:root {
  color-scheme: light;
}

html {
  background: #ffffff !important;
}

body {
  background: #ffffff !important;
  color: #000000 !important;
}